# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Rinifisu
*.opensdf
*.sdf
*.rej
Debug/
Release/
ReMain_Game/Debug/
ReMain_Game/Release/
